{{ form_start(formFormation) }}
     <div class="row">
            <div class="col">             
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(formFormation.title) }}                                                  
                    </div>
                    <div class="col">
                        {{ form_row(formFormation.description) }}
                    </div>
                </div>
            </div>
        </div>       
    {{ form_end(formFormation) }}